# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space

# C# files
[*.cs]
end_of_line = lf
indent_size = 4
insert_final_newline = true

# XML project files
[*.csproj]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Shell script files
[*.sh]
end_of_line = lf
indent_size = 2

# Default .NET Code Style Severities
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-options#scope
[*.{cs,csx}]

# Default Severity for all .NET Code Style rules below
dotnet_analyzer_diagnostic.severity = warning

# Use var instead of explicit type
dotnet_diagnostic.IDE0007.severity = warning
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning

# Use expression body for methods
dotnet_diagnostic.IDE0022.severity = none

# Remove unnecessary expression value
dotnet_diagnostic.IDE0058.severity = none

# Use block-scoped namespace
dotnet_diagnostic.IDE0160.severity = none
