@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Oops!</h1>
    <h3>@Model.ErrorMessage</h3>
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
</div>
