@model Web.ViewModels.SearchViewModel

<div class="card mb-4">
    <h2 class="card-header text-center py-5">DineSafely allows you to search the health inspections of establishments.
    </h2>
    <div class="card-body">
        <form asp-controller="establishment" asp-action="search" method="get">
            <div class="row">
                <div class="col-sm-5">
                    <input type="search" asp-for="Name" class="form-control" placeholder="Name" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-sm-5">
                    <input type="search" asp-for="Address" class="form-control" placeholder="Address">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>